*{
    margin: 0;
}
body{
    background-color:#fff;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position-x: center;
}
h1,h2,h3{
    text-align: center;
    color: hsl(210, 10%, 33%);
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
    text-align: left;
    margin-top: 65px;
}
p{
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    margin: 20px 340px;
}
.logo {
    margin: 0 auto;
    width: min-content;
    margin-top: 100px;
    margin-bottom: 60px;
}
.download{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: unset;
    text-align: unset;
    margin: 52px 0 100px 0;  
}
.iOS{
    background-color: hsl(171, 66%, 44%);
    width: 220px;
    padding: 15px ;
    border-radius: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    box-shadow: 0px 3px 0 0px hsl(171, 71%, 33%);
}
.Mac{
    background-color: hsl(233, 100%, 69%);
    width: 220px;
    padding: 15px ;
    border-radius: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    box-shadow: 0px 3px 0 0px hsl(233, 39%, 49%);
}
.computer{
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.computer .img{
    margin-right: 80px;
    margin-left: -40px;
}
.computer p{
    text-align: unset;
    margin: unset;
    margin-top: 17px;
    margin-right: 160px;
}
.devices{
    margin: 100px auto;
    width: min-content;
    margin-bottom: 50px;
}
.tools{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.tool{
    width: 50%;
}
.tools h3{
    margin: unset;
    margin:30px auto;
    text-align: center;
}
.tools p{
    margin: unset;
    text-align: center;
}
.tools .icon{
    width: min-content;
    margin: 20px auto;
}
.sponsors{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 80px;
}
footer{
    background-color: hsl(200, 7%, 92%);
    padding: 30px 100px 30px 100px;
    display: flex;
    align-items: center;
}
footer img{
    width: 50px;
}
footer .social{
    width: 25px;
    margin: 5px;
}
footer p{
    color: hsl(198, 6%, 43%);
    margin: unset;
    width: 150px;
}
.terms{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 15px;
    column-gap: 40px;
    width: 650px;
    margin-left: 80px;
}
.social-media{
    margin: auto;
    margin-right: 0;
}
footer a{
    text-decoration: none;
    color: hsl(171, 66%, 44%);
}
footer a :hover{
    text-decoration: none;
    color: hsl(171, 66%, 44%);
}
.download a{
    text-decoration: none;
}
.download a:hover{
    position: relative;
    top: 5px;
}
.social-media a{
}
.social-media a :hover{
    filter: invert(60%) sepia(77%) saturate(392%) hue-rotate(122deg) brightness(86%) contrast(94%);
}